<section class="servicios">
  <h2>~Nuestros Servicios Destacados~</h2>
  <div class="servicios-grid">
    <div class="servicio">
      <h3>Formación Técnica de Alta Calidad</h3>
      <p>Nuestros programas de estudios están diseñados para proporcionarte una formación...</p>
    </div>
    <div class="servicio">
      <h3>Asesoría Académica Personalizada</h3>
      <p>Brindamos asesoría académica personalizada para ayudarte a elegir el programa de estudios...</p>
    </div>
    <div class="servicio">
      <h3>Experiencias Formativas en Situaciones Reales</h3>
      <p>Ofrecemos oportunidades de experiencias formativas en empresas y proyectos reales...</p>
    </div>
    <div class="servicio">
      <h3>Capacitación y Actualización Constante</h3>
      <p>Nos aseguramos de que nuestros estudiantes y docentes estén siempre actualizados...</p>
    </div>
  </div>
</section>
